.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 10px;
  color: $color-white;
  background-color: $color-primary;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include transition(background-color, color, box-shadow);
  &__label {
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06rem;
    line-height: 1.88;
  }
  &__icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
    &--start {
      margin-right: 24px;
    }
    &--end {
      margin-left: 24px;
    }
  }
  &--secondary {
    padding: 6px 22px;
    min-width: unset;
    color: $color-black;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.625;
    background-color: $color-grey-80;
    box-shadow: none;
    &:focus,
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  &--close {
    width: 30px;
    height: 30px;
    min-width: unset;
    border-radius: 50%;
    color: $color-black;
    background: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    &:focus,
    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}

.button-group {
  display: flex;
  align-items: center;
  gap: 8px;
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
}
