.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    &--page-header {
      display: flex;
      align-items: center;
      /* todo: make modifications */
      & > :first-child {
        margin-right: 93px;
      }
      & > :last-child {
        margin-left: auto;
      }
    }
    &--footer {
      display: flex;
      align-items: baseline;
      column-gap: 70px;
    }
  }