.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $color-white;
  background-color: $color-grey-900;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  &__header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: $color-white;
  }
  &__address,
  &__socials,
  &__form {
    text-align: center;
  }
}

@media (min-width: $tablet-breakpoint) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $color-white;
    background-color: $color-grey-900;
    &__container {
      display: flex;
      align-items: baseline;
      column-gap: 70px;
    }
    &__header {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.15;
      text-transform: uppercase;
      color: $color-white;
    }
  }
}
@media (min-width: $desktop-breakpoint) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $color-white;
    background-color: $color-grey-900;
    &__container {
      display: flex;
      align-items: baseline;
      column-gap: 70px;
    }
    &__header {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.15;
      text-transform: uppercase;
      color: $color-white;
    }
  }
}
