.hero {
  text-align: center;
  padding: calc(200px - 94px) 250px;
  &__header {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white;
  }
  &__button {
    margin: 0 auto;
  }
}
