@media (max-width: $tablet-breakpoint) {
  .nav {
    display: none;
  }
}

@media (min-width: $tablet-breakpoint) {
  .nav {
    &__list {
      display: flex;
      gap: 60px;
    }
    &__link {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;
      @include transition(color);
      &--active,
      &:hover,
      &:focus {
        color: $color-primary;
      }
      &--active {
        position: relative;
        &::after {
          $border-width: 0.25rem;
          position: absolute;
          content: "";
          bottom: -22px;
          left: 0;
          width: 100%;
          height: $border-width;
          background: $color-primary;
          border-radius: calc($border-width / 2);
          cursor: default;
        }
      }
    }
  }
}
@media (min-width: $desktop-breakpoint) {
  .nav {
    &__list {
      display: flex;
      gap: 46px;
    }
    &__link--active::after {
      bottom: -32px;
    }
  }
}
