.page-header {
  border-bottom: 1px solid $color-grey-50;
  &__container {
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 83px;
  }
  &__nav {
    margin-right: 60px;
  }
  &__contact {
    margin-left: auto;
  }
}

@media (min-width: $desktop-breakpoint) {
  .page-header {
    &__container {
      min-height: 80px;
    }
    &__logo {
      margin-right: 93px;
    }
  }
}
