$color-primary: #2196f3;
$color-black: #212121;
$color-grey-900: #2f303a;
$color-grey-500: #757575;
$color-gray-300: #afb1b8;
$color-grey-100: #f5f4fa;
$color-grey-80: #f5f4fa;
$color-grey-50: #ececec;
$color-grey-30: #eeeeee;
$color-white: #ffffff;
$color-error: #f2413a;
$color-white-opacity: rgba(255, 255, 255, 0.6);

$grid-gutter: 30px;

$border-radius: 4px;

$min-width: 320px;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$container-padding: 15px;
$section-padding-small: 60px;
$section-padding-large: 60px;

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%page-header-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  @include transition(color);
}
